In [1]:
print("Hello world!!")
name = ['John', 'Nick', 'Summer', 'June', 'Jack', 'Mike']
name[2:4]

Hello world!!

['Summer', 'June']

In [3]:
string = "How are you"
string[2:5]

'w a'

In [4]:
float(78)

78.0

In [5]:
5/2 == 2

False

In [12]:
name_age = {'Jack':20, 'Summer':25, 'June':30}
for i in name_age:
  print(i,"\t",name_age[i])

Jack 	 20
Summer 	 25
June 	 30

In [15]:
my_tuple = (34, 20, 60.7, 4, 66, 1)
sorted(my_tuple)

[1, 4, 20, 34, 60.7, 66]

In [16]:
a = 7/2
b = 3.5
c = a>b
print(c)

False